.header-style {
   height          : 80px;
   position        : relative;
   border-radius   : 12px 12px 0px 0px;
   background-color: #c73e1d;
   background-image: linear-gradient(315deg, #c73e1d 0%,
         #a23b72 37%, #2e86ab 100%);
   box-shadow            : 1px 1px 20px 20px #8e8e8e;
   letter-spacing        : 3px;
   transition            : .7s;
   /* background-image   : linear-gradient(319deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%); */
   font-family           : Poppins;
   animation             : mymove 5s infinite;
}


.imagelogo-style {
   width        : 5%;
   height       : 75%;
   border       : 2px outset black;
   border-radius: 50%;
   padding      : 0px 0px;
   top          : 11%;
   left         : 2.5%;
   position     : absolute;
   transition   : .7s;
}

.imagelogo-style:hover {
   box-shadow: 1px 1px 20px 2px whitesmoke;
   transition: .7s;
}

.span-login-style {
   position: absolute;
   right   : 3%;
   top     : 27%;
}

.login-link-style {
   right             : 12%;
   padding           : 1px 14px;
   color             : whitesmoke;
   font-size         : 18px;
   margin-right      : 35px;
   text-transform    : initial;
   text-decoration   : none;
   text-shadow       : 1px 1px 20px 10px #2e86ab;
   border-radius     : 10%;
   /* box-shadow     : 1px 1px 5px 5px #533939; */
}

.login-link-style:hover {
   /* border-radius: 10%;
   box-shadow   : 1px 1px 10px 10px #533939; */
}

.createaccount-link-style {
   right          : 5%;
   top            : 30%;
   border         : 2px outset whitesmoke;
   border-radius  : 10px;
   padding        : 2px 15px;
   text-decoration: none;
   color          : whitesmoke;
   font-size      : 20px;
   transition     : .7s;
   border-radius  : 10%;
   box-shadow     : 1px 1px 10px 10px #533939;
}

.createaccount-link-style:hover {
   border-radius: 10%;
   box-shadow   : 1px 1px 10px 10px #533939;
}

.div-main-contain-style {}

.div-leftportion {
   /* position: relative; */
   border          : 1px solid red;
   /* display      : inline-block; */
   width           : 25%;
   height          : 80%;
   float           : left;
   border          : none;
   background-color: whitesmoke;
   border-radius   : 2px 2px 12px 12px;
   box-shadow      : 0px 0px 20px 0px #d6d6d6;
}

.div-rightportion {
   /* position: relative; */
   border          : none;
   /* display      : inline-block; */
   width           : 72%;
   height          : 80%;
   float           : right;
   background-color: whitesmoke;
   border-radius   : 2px 2px 12px 12px;
   box-shadow      : 0px 0px 20px 0px #d6d6d6;
}


.div-marquee-style {
   border          : none;
   padding         : 9px 4px;
   background-color: navajowhite;
}

.div-section-left-cards {
   border      : 2px solid green;
   width       : auto;
   height      : 30%;
   border      : none;
   padding-left: 20px;
   font-family : cursive;
}


.span-section-right-cards {
   /* display: inline-block;  */
   border             : 2px solid red;
   width              : 27%;
   /* padding         : 1%; */
   height             : 85%;
   margin-left        : 20px;
   margin-right       : 20px;
   margin-top         : 4.0%;
   margin-bottom      : 2.5%;
   border-radius      : 15px;
   position           : relative;
   left               : 4%;
   right              : 4%;
   float              : left;
   /* background-color: white; */
   border             : none;
   cursor             : pointer;
   opacity            : 1;
   transition         : 0.4s;
}

.span-section-right-cards:hover {
   /* box-shadow: 1px 1px 10px 10px #533939;
   opacity: 1.6; */
   transform       : scale(0.95);
   /* border-radius: 40% 40% 0% 0%; */

}

.img-right-style {
   width        : 100%;
   height       : 50%;
   border-radius: 15px;
}

.img-right-style:hover {
   width        : 100%;
   height       : 50%;
   border-radius: 15px;
   transform    : scale(1.15);
   border-radius: 50%;
   position     : absolute;
   transition   : 0.4s;
   box-shadow   : 1px 1px 10px 10px #533939;
}

.hr-divider-right-cards-style {
   border    : 2px outset #dc8686;
   margin-top: 25%;
   position  : absolute;
   top       : 45%;
   display   : block;
   width     : 95%;

}

.info-right-cards-style {
   width     : 100%;
   position  : absolute;
   top       : 62%;
   object-fit: contain;

   font-family: cursive;
   color      : #9c4848;
   text-shadow: 1px 1px 20px red;
   font-size  : 20px;
}

.info-right-cards-style h3 {
   font-family   : cursive;
   color         : #174611;
   text-shadow   : 1px 1px 11px #d308fb;
   font-size     : 20px;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight   : bold;
   text-align    : center;
}

.info-right-cards-style span {

   font-family        : cursive;
   color              : #535353;
   /* text-shadow     : 1px 1px 20px lightgrey; */
   font-size          : 20px;
   text-align         : left;
   letter-spacing     : 2px;
   /* background-color: white; */
}

.info-right-cards-style p {
   padding-left    : 20px;
   font-size       : 18px;
   padding         : 15px;
   background-color: white;
   border-radius   : 10px;
}

.text-shadow-red-style {
   text-shadow: 1px 1px 22px #717070;

}


.label-filters-style {
   font-family   : cursive;
   color         : #174611;
   text-shadow   : 1px 1px 11px #d308fb;
   text-transform: initial;
   font-weight   : bold;
   text-align    : center;
   font-weight   : 700;
   letter-spacing: 2px;
   font-size     : 18px;
}

.div-select-location-style {
   padding: 4% 10% 4% 5%;
}

select {
   width         : 85%;
   height        : 50px;
   font-size     : 17px;
   border-radius : 3px;
   color         : #ff4400;
   padding       : 10px 10px 10px 10px;
   font-weight   : 600;
   letter-spacing: 3px;
   font-family   : cursive;
   box-shadow    : 0px 0px 4px 3px lightgrey;

}

label {
   font-family   : cursive;
   font-weight   : 700;
   font-size     : 16px;
   letter-spacing: 2px;
   text-shadow   : 1px 1px 22px #9a9a9a;
   color         : #2e80a2;
}

input[type="checkbox"i] {
   width  : 18px;
   height : 18px;
   margin : 9px 3px 9px 0px;
   padding: 3px 2px 5px 2px;

}

input[type="radio"i] {
   width  : 18px;
   height : 18px;
   margin : 9px 3px 9px 0px;
   padding: 3px 2px 5px 2px;

}

input[type="range"i] {
   width  : 99%;
   height : 25px;
   margin : 9px 3px 9px 0px;
   padding: 3px 2px 5px 2px;

}

.btn-reset-style {
   opacity         : 1.5;
   background-color: green;
   padding         : 6px 20px 6px 20px;
   transition      : 0.4s;
   /* box-shadow      : 1px 1px 10px 10px #cbf5dd; */
   margin-top      : 20px;
   margin-bottom   : 20px;
   margin-right    : 10px;
   color: whitesmoke;
   border-radius: 10px;
   letter-spacing: 3px;
   font-size: 16px;
   
}

.btn-reset-style:hover {
   opacity: 1;
    background-color: #346834;
    box-shadow: 1px 1px 4px 6px #6d6d6d;
    border: 2px solid whitesmoke;
    /* transform:  scale(0.8); */
}

@keyframes mymove {
   from {
      background-color: linear-gradient(315deg, #c73e1d 0%,
            #a23b72 37%, #2e86ab 100%);
   }

   to {
      background-color: linear-gradient(315deg, #2e86ab 0%,
            #a23b72 37%, #c73e1d 100%);
   }
}